<div class="delivery__container">
  <div class="delivery__borderbox selected--borderbox">
    <div class="delivery__details-box">
      <div class="delivery__icon-borderbox time--circle">
        <img
          src="assets/svg/Time Circle.svg"
          alt="زمان تحویل"
          class="delivery__box-img"
        />
      </div>
      <div class="delivery__details">
        <span class="inprogress__text">در حال پردازش</span>
        <span class="order__text">5 سفارش</span>
      </div>
    </div>
  </div>

  <div class="delivery__borderbox">
    <div class="delivery__details-box">
      <div class="delivery__icon-borderbox check--circle">
        <img
          src="assets/svg/Check Circle.svg"
          alt="بررسی تحویل"
          class="delivery__box-img"
        />
      </div>
      <div class="delivery__details">
        <span class="inprogress__text">تحویل شده</span>
        <span class="order__text">4 سفارش</span>
      </div>
    </div>
  </div>

  <div class="delivery__borderbox">
    <div class="delivery__details-box">
      <div class="delivery__icon-borderbox back--circle">
        <img
          src="assets/svg/circle-u-turn-left-up.svg"
          alt="مرجوعی"
          class="delivery__box-img"
        />
      </div>
      <div class="delivery__details">
        <span class="inprogress__text">مرجوعی</span>
        <span class="order__text">2 سفارش</span>
      </div>
    </div>
  </div>

  <div class="delivery__borderbox">
    <div class="delivery__details-box">
      <div class="delivery__icon-borderbox close--circle">
        <img
          src="assets/svg/Close Circle.svg"
          alt="زمان تحویل"
          class="delivery__box-img"
        />
      </div>
      <div class="delivery__details">
        <span class="inprogress__text">لغو شده</span>
        <span class="order__text">3 سفارش</span>
      </div>
    </div>
  </div>
</div>
