<div class="orderdetails-container">
  <div class="orderdetails__products">
    <div class="orderdetails__product">
      <img
        src="assets/images/product.png"
        alt="محصول"
        class="orderdetails__product-image"
      />
    </div>
    <div class="orderdetails__product">
      <img
        src="assets/images/product1.png"
        alt="محصول"
        class="orderdetails__product-image"
      />
    </div>
    <div class="orderdetails__product">
      <img
        src="assets/images/product2.png"
        alt="محصول"
        class="orderdetails__product-image"
      />
    </div>
  </div>

  <div class="orderdetails__div">
    <a href="#" class="orderdetails__button">جزئیات سفارش</a>
    <img
      src="assets/svg/Arrow Icon.svg"
      alt="رفتن به جزئیات سفارش"
      class="orderdetails__arrowicon"
    />
  </div>
</div>
