<div class="productinfo__wrapper">
  <div class="DeliveryDate__Container">
    <span class="DeliveryDate__Text">تاریخ تحویل سفارش:</span>
    <span class="DeliveryDate__Text DeliveryDate--Color">1404/08/04</span>
  </div>
  <div class="OrderCode__Container">
    <span class="DeliveryDate__Text">کد سفارش:</span>
    <span class="DeliveryDate__Text DeliveryDate--Color">2165449</span>
  </div>
  <div class="OldPrice_Container">
    <span class="OldPrice">1,550,000</span>
    <span class="OldPrice__Label">تومان</span>
  </div>
</div>
