<aside class="sidebar">
  <div class="sidebar__header">
    <div class="sidebar__userinfobox">
      <img
        src="assets/svg/User Avatar.svg"
        alt="پروفایل کاربر"
        class="sidebar-userinfo__img"
      />
      <div class="sidebar__userdetails">
        <span class="sidebar__username">حیدر محمدی</span>
        <span class="sidebar__contact">09123456789</span>
      </div>
    </div>
    <img
      src="assets/svg/Pen.svg"
      alt="ویرایش اطلاعات"
      class="sidebar-pen__img"
    />
  </div>
  <hr />
  <div class="sidebar__account-links">
    <div class="sidebar__order-info">
      <a href="#" class="sidebar__orders-button">
        <img
          src="assets/svg/home-happy.svg"
          alt="سفارش های من"
          class="sidebar-myorders__img"
        />
        <span class="sidebar__myorders">سفارش های من</span>
      </a>
      <div class="sidebar__messages-info">
        <img
          src="assets/svg/user-search.svg"
          alt="پروفایل حساب کاربری"
          class="message-info__img"
        />
        <span class="sidebar--orders-text">اطلاعات حساب کاربری</span>
      </div>
      <div class="multiple__messages">
        <div class="sidebar__messages-info">
          <img
            src="assets/svg/notification-bell-ringing.svg"
            alt="پیام ها"
            class="message-info__img"
          />
          <span class="sidebar--orders-text">پیام ها</span>
        </div>
        <span class="message--badge">
          <img
            src="assets/svg/Message Badge.svg"
            alt="بج"
            class="message--badge-img"
          />
        </span>
      </div>
      <div class="sidebar__messages-info">
        <img
          src="assets/svg/chat-bubble-rectangle.svg"
          alt="نظرات من"
          class="message-info__img"
        />
        <span class="sidebar--orders-text">نظرات من</span>
      </div>
    </div>
    <br /><br /><br />
    <a href="#" class="logout__button">
      <img src="assets/svg/logout.svg" alt="خروج" class="logout-img" />
      <span class="logout-text">خروج</span>
    </a>
  </div>
</aside>
